<section class="bg-white antialiased">
  <div class="max-w-screen-xl px-4 py-8 mx-auto lg:px-6 sm:py-16 lg:py-24">
    <div class="max-w-3xl mx-auto space-y-4 text-center">
      <h2 class="text-4xl font-extrabold leading-tight tracking-tight text-gray-900 ">
        Experiance
      </h2>
    </div>

    <div class="flex flex-col lg:flex-row mt-2 lg:mt-16 gap-y-12 gap-x-16">
  <!-- Experience Section -->
  <div class="space-y-8 flex-1">
    <h3 class="text-2xl font-bold text-center text-gray-900">Experience</h3>
    <div>
      <!-- Experience Item 1 -->
      <div class="flex flex-col gap-4 sm:flex-row sm:items-stretch">
        <p class="w-auto text-sm font-medium text-gray-500 sm:text-right sm:w-32 shrink-0">2022 - 2023</p>
        <div class="hidden w-px bg-gray-200 sm:shrink-0 sm:block"></div>
        <div class="flex-1 pb-8 space-y-4 sm:pb-12">
          <h4 class="text-xl font-bold text-gray-900">
            <a href="#" class="hover:underline">Full Stack Developer</a>
          </h4>
          <p class="text-gray-500 text-base font-normal">
            Creation SAAS for Human Resources making easy the sharing of information between N+1 or N+N.
          </p>
          <div class="flex items-center gap-3">
            <%= image_tag("akdital", class:"object-cover w-12 h-12 rounded-full shrink-0") %>
            <div>
              <p class="text-lg font-medium leading-tight text-gray-900">AKDITAL</p>
            </div>
          </div>
        </div>
      </div>
      <!-- Experience Item 2 -->
      <div class="flex flex-col gap-4 sm:flex-row sm:items-stretch">
        <p class="w-auto text-sm font-medium text-gray-500 sm:text-right sm:w-32 shrink-0">2023 - Today</p>
        <div class="hidden w-px bg-gray-200 sm:shrink-0 sm:block"></div>
        <div class="flex-1 pb-8 space-y-4 sm:pb-12">
          <h4 class="text-xl font-bold text-gray-900">
            <a href="#" class="hover:underline">Back-End Developer / AI Model Creation</a>
          </h4>
          <p class="text-gray-500 text-base font-normal">
            Automates user work in the field, making interactions easier for users.
          </p>
          <div class="flex items-center gap-3">
            <%= image_tag("netis", class: "object-cover w-12 h-12 rounded-full shrink-0") %>
            <div>
              <p class="text-lg font-medium leading-tight text-gray-900">Netis Group</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- School Section -->
  <div class="space-y-8 flex-1">
    <h3 class="text-2xl font-bold text-center text-gray-900">School</h3>
    <div>
      <!-- School Item 1 -->
      <div class="flex flex-col gap-4 sm:flex-row sm:items-stretch">
        <p class="w-auto text-sm font-medium text-gray-500 sm:text-right sm:w-32 shrink-0">2019-2020</p>
        <div class="hidden w-px bg-gray-200 sm:shrink-0 sm:block"></div>
        <div class="flex-1 pb-8 space-y-4 sm:pb-12">
          <h4 class="text-xl font-bold text-gray-900">
            <a href="#" class="hover:underline">Bac Resaux-Informatique</a>
          </h4>
          <p class="text-gray-500 text-base font-normal"></p>
          <div class="flex items-center gap-3">
            <p class="text-lg font-medium leading-tight text-gray-900">Youssef Ben Tachfin, Agadir</p>
          </div>
        </div>
      </div>
      <!-- School Item 2 -->
      <div class="flex flex-col gap-4 sm:flex-row sm:items-stretch">
        <p class="w-auto text-sm font-medium text-gray-500 sm:text-right sm:w-32 shrink-0">2020-2021</p>
        <div class="hidden w-px bg-gray-200 sm:shrink-0 sm:block"></div>
        <div class="flex-1 pb-8 space-y-4 sm:pb-12">
          <h4 class="text-xl font-bold text-gray-900">
            <a href="#" class="hover:underline">BTS Resaux-Informatique</a>
          </h4>
          <p class="text-gray-500 text-base font-normal"></p>
          <div class="flex items-center gap-3">
            <p class="text-lg font-medium leading-tight text-gray-900">Lycee Technique Edrissi, Agadir</p>
          </div>
        </div>
      </div>
      <!-- School Item 3 -->
      <div class="flex flex-col gap-4 sm:flex-row sm:items-stretch">
        <p class="w-auto text-sm font-medium text-gray-500 sm:text-right sm:w-32 shrink-0">2021-2023</p>
        <div class="hidden w-px bg-gray-200 sm:shrink-0 sm:block"></div>
        <div class="flex-1 pb-8 space-y-4 sm:pb-12">
          <h4 class="text-xl font-bold text-gray-900">
            <a href="#" class="hover:underline">EWA Development Web and Mobile</a>
          </h4>
          <p class="text-gray-500 text-base font-normal"></p>
          <div class="flex items-center gap-3">
            <p class="text-lg font-medium leading-tight text-gray-900">School EWA (Ecole de Web Avancé)</p>
          </div>
        </div>
      </div>
      <!-- School Item 4 -->
      <div class="flex flex-col gap-4 sm:flex-row sm:items-stretch">
        <p class="w-auto text-sm font-medium text-gray-500 sm:text-right sm:w-32 shrink-0">2023-2024</p>
        <div class="hidden w-px bg-gray-200 sm:shrink-0 sm:block"></div>
        <div class="flex-1 pb-8 space-y-4 sm:pb-12">
          <h4 class="text-xl font-bold text-gray-900">
            <a href="#" class="hover:underline">Bachelor IFIAG Web and Mobile</a>
          </h4>
          <p class="text-gray-500 text-base font-normal"></p>
          <div class="flex items-center gap-3">
            <p class="text-lg font-medium leading-tight text-gray-900">IFIAG, Casablanca</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  </div>
</section>