<section id="aboutme" class="bg-white dark:bg-gray-900 py-9">
  <div class="py-8 lg:py-24 antialiased max-w-screen-xl px-4 mx-auto text-center lg:px-6">
    <h2 class="m-6 text-4xl font-extrabold text-center tracking-tight leading-none md:text-5xl lg:text-6xl text-white">
      Projects I've Completed
    </h2>
    <!-- Responsive Grid Layout with Two Columns -->
    <div class="grid gap-10 sm:grid-cols-1 md:grid-cols-2">
      <!-- Project 1 -->
      <figure class="flex flex-col items-center bg-gray-100 dark:bg-gray-800 p-6 m-6 rounded-lg shadow-lg">
        <%= image_tag("like_google_form.png", class: "w-64 h-40 object-cover rounded-lg mb-4") %>
        <blockquote class="text-base font-medium text-gray-900 dark:text-white">
          <p>
            This CMS creates forms similar to Google Forms.<br>
            It provides the ability to create form blocks and also<br>
            assign steps for each block.
          </p>
        </blockquote>
      </figure>

      <!-- Project 2 -->
      <figure class="flex flex-col items-center bg-gray-100 dark:bg-gray-800 p-6 m-6 rounded-lg shadow-lg">
        <%= image_tag("chat_in_real_time.png", class: "w-64 h-40 object-cover rounded-lg mb-4") %>
        <blockquote class="text-base font-medium text-gray-900 dark:text-white">
          <p>
            Chat App using WebSocket for real-time messaging.<br>
            Users can send files, images, and videos (max capacity 1GB per file).
          </p>
        </blockquote>
      </figure>

      <!-- Project 3 -->
      <figure class="flex flex-col items-center bg-gray-100 dark:bg-gray-800 p-6 m-6 rounded-lg shadow-lg">
        <%= image_tag("tracking_position.png", class: "w-64 h-40 object-cover rounded-lg mb-4") %>
        <blockquote class="text-base font-medium text-gray-900 dark:text-white">
          <p>
            Position tracking for the current user and other users.<br>
            Users receive a notification to activate location on their mobile.<br>
            WebSocket is used to track user positions every 30 seconds.
          </p>
        </blockquote>
      </figure>

      <!-- Project 4 -->
      <figure class="flex flex-col items-center bg-gray-100 dark:bg-gray-800 p-6 m-6 rounded-lg shadow-lg">
        <%= image_tag("statistick.png", class: "w-64 h-40 object-cover rounded-lg mb-4") %>
        <blockquote class="text-base font-medium text-gray-900 dark:text-white">
          <p>
            Data analysis chart providing equipment statistics.<br>
            Displays results to the admin for progress tracking.
          </p>
        </blockquote>
      </figure>
    </div>

    <!-- Author Section -->
    <figcaption class="flex items-center justify-center mt-12 space-x-3">
      <div class="flex items-center divide-x-2 divide-gray-500 dark:divide-gray-700">
        <div class="pr-3 font-medium text-gray-900 dark:text-white">Achraf Bsibiss</div>
        <div class="pl-3 text-sm font-light text-gray-500 dark:text-gray-400">Backend Dev</div>
      </div>
    </figcaption>
  </div>
</section>