<section id="services" class="py-8 lg:py-24 antialiased" style="background-color: black;">
    <div class="px-4 flex flex-col mx-auto max-w-screen-xl">
        <h2 class="m-6 text-4xl font-extrabold text-center tracking-tight leading-none md:text-5xl lg:text-6xl text-white">Services</h2>
        <div class="my-9 flex flex-col lg:flex-row flex-wrap justify-around">
            <article class="max-w-xs mb-8">
                <a href="#">
                    <img src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/article/blog-1.png" class="mb-5 rounded-lg" alt="Project Creation">
                </a>
                <h2 class="mb-2 text-xl font-bold leading-tight text-white">
                    <%#= link_to "Project Creation", services_path %>
                </h2>
                <p class="mt-4 mb-4 text-white">Creating sustainable security system projects, both large and small. Your satisfaction is our priority.</p>
            </article>
            <article class="max-w-xs mb-8">
                <%= image_tag "cloud.jpeg", class: "h-auto mb-5 rounded-lg", alt: "App Deployment" %>
                <h2 class="mb-2 text-xl font-bold leading-tight text-white">
                    <%#= link_to "App Deployment", services_path %>
                </h2>
                <p class="mb-4 text-white">Deploy your app on VPS servers for better performance and enhanced data security.</p>
            </article>
            <article class="max-w-xs mb-8">
                <a href="#">
                    <img src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/article/blog-3.png" class="mb-5 rounded-lg" alt="Problem Solving">
                </a>
                <h2 class="mb-2 text-xl font-bold leading-tight text-white">
                    <%#= link_to "Problem Solving", services_path %>
                </h2>
                <p class="mb-4 text-white">Specializing in solving development problems, particularly in Ruby on Rails, to optimize your app's performance.</p>
            </article>
        </div>
    </div>
</section>