<div>
    <div class="sticky top-0 z-40">
        <%= render partial: "shared/navbbar" %>
    </div>

    <main class="">
        <div class="" >
            <%= yield %>
        </div>
    </main>
</div>